
body {
  background: rgb(255, 231, 231);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(0, 0, 0);
}


.add-container {
  width: 480px;
  margin: 70px auto;
  padding: 32px;
  border-radius: 22px;

  background: rgba(255, 218, 218, 0.06);
  backdrop-filter: blur(14px);
  border: 1.5px solid rgba(255, 255, 255, 0.15);

  box-shadow: 0px 8px 35px rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.6s ease;
}

.title {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 25px;
  letter-spacing: 1px;
}


.form-box {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.form-box label {
  font-size: 15px;
  font-weight: 600;
}

.form-box input {
  padding: 13px 15px;
  border-radius: 14px;

  background: rgba(255, 255, 255, 0.12);
  border: 2px solid transparent;
  color: white;

  transition: 0.3s;
}

.form-box input:focus {
  border: 2px solid #ff7b00;
  box-shadow: 0px 6px 18px rgba(255, 123, 0, 0.4);
  outline: none;
}


.btn {
  padding: 12px 0;
  background: linear-gradient(45deg, #ff2929, #ff7b00);
  color: white;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 14px;
  cursor: pointer;

  transition: 0.3s ease-in-out;
}

.btn:hover {
  transform: translateY(-3px) scale(1.03);
  box-shadow: 0px 10px 25px rgba(255, 41, 41, 0.4);
}


.product-page {
  padding: 35px 45px;
}

.product-title {
  text-align: center;
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 35px;
  letter-spacing: 1px;
}


.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 30px;
}


.product-card {
  padding: 20px;
  border-radius: 20px;
  background: linear-gradient(135deg, #1c1c1c, #232323);
  border: 1.2px solid rgba(255, 123, 0, 0.3);

  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.45);
  transition: 0.35s ease-in-out;
}

.product-card:hover {
  transform: translateY(-8px) scale(1.04);
  border-color: #ff7b00;
  box-shadow: 0px 12px 32px rgba(255, 123, 0, 0.4);
}


.product-img {
  width: 100%;
  height: 190px;
  border-radius: 16px;
  object-fit: cover;

  box-shadow: 0px 5px 18px rgba(0, 0, 0, 0.4);
}

.product-card h3 {
  font-size: 20px;
  margin-top: 14px;
  font-weight: 700;
}

.product-card p {
  font-size: 18px;
  margin-top: 8px;

  background: linear-gradient(45deg, #ff2929, #ff7b00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-weight: 800;
}


@keyframes fadeIn {
  from { opacity: 0; transform: translateY(15px); }
  to { opacity: 1; transform: translateY(0); }
}

.close-btn {
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 25px;
  padding: 5px 10px;
  border-radius: 8px;
  transition: 0.2s;
  color: #ff2929;
  background: #fff;
  box-shadow: 0 0 10px #0002;
}

.close-btn:hover {
  background: #ff2929;
  color: #fff;
}
