
body {
  background: #ffeded;
}


.dash-layout {
  display: flex;
  min-height: 100vh;
  width: 100%;
  margin-top: 8%;
}

.dash-sidebar {
  width: 250px;
  background: #ffffff;
  border-right: 1px solid #ddd;
  padding: 25px 20px;
  position: fixed;
  height: 100vh;
  overflow-y: auto;
}

.side-title {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 25px;
  color: #333;
}

.side-btn {
  width: 100%;
  padding: 12px 15px;
  background: #f6f7fb;
  border: none;
  border-radius: 10px;
  margin-bottom: 12px;
  cursor: pointer;
  text-align: left;
  font-weight: 600;
  font-size: 15px;
  transition: 0.25s;
}

.side-btn:hover {
  background: #e0e7ff;
  transform: translateX(6px);
}

.active {
  background: #ff4b4b !important;
  color: white;
}

.order-badge {
  background: #ff2929;
  padding: 2px 9px;
  margin-left: 8px;
  color: white;
  border-radius: 50px;
  font-size: 12px;
}


.dash-container {
  margin-left: 270px;
  padding: 30px;
  width: calc(100% - 270px);
}

.dash-title {
  font-size: 34px;
  font-weight: 700;
  color: #222;
}

.dash-sub {
  font-size: 15px;
  margin-bottom: 25px;
  color: #666;
}


.dash-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 20px;
  margin-bottom: 40px;
}

.dash-card {
  background: #ffffff;
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0px 4px 18px rgba(0,0,0,0.08);
  transition: 0.3s ease;
  cursor: pointer;
}

.dash-card:hover {
  transform: translateY(-7px);
  box-shadow: 0px 8px 25px rgba(0,0,0,0.1);
}

.dash-card h2 {
  font-size: 30px;
  font-weight: 700;
}

.dash-card p {
  font-size: 14px;
  margin-top: 6px;
  color: #555;
}


.dash-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
}

.dash-box {
  background: white;
  border-radius: 14px;
  padding: 25px;
  box-shadow: 0 4px 18px rgba(0,0,0,0.07);
}

.dash-box h3 {
  margin-bottom: 15px;
  font-size: 20px;
  color: #333;
}


.dash-btn {
  width: 100%;
  padding: 12px;
  background: #4b7bff;
  border: none;
  border-radius: 10px;
  color: white;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  transition: 0.2s;
}

.dash-btn:hover {
  background: #355fe0;
  transform: translateY(-3px);
}


@media (max-width: 850px) {
  .dash-sidebar {
    width: 200px;
  }
  .dash-container {
    margin-left: 220px;
    width: calc(100% - 220px);
  }
}

@media (max-width: 700px) {
  .dash-sidebar {
    position: relative;
    width: 100%;
    height: auto;
  }

  .dash-container {
    margin-left: 0;
    width: 100%;
    padding: 20px;
  }
}



.dash-cards .dash-card:nth-child(1) {
  background: linear-gradient(135deg, #050303, #ff3b49 , #ff3b49);
  color: #fff;
}


.dash-cards .dash-card:nth-child(2) {
  background: linear-gradient(135deg, #08110c, #19b563 , #19b563);
  color: #fff;
}



.dash-cards .dash-card:nth-child(3) {
  background: linear-gradient(135deg, #1b1911, #ffb800 , #ffb800);
  color: #fff;
}



.dash-cards .dash-card:nth-child(4) {
  background: linear-gradient(135deg, #161a1f, #3ff5ff , #3ff5ff);
  color: #ffffff;
}



.dash-cards .dash-card h2,
.dash-cards .dash-card p {
  color: #fff;
}
