

.logo {
  font-size: 22px;

  letter-spacing: 1px;
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 22px;
}

.nav-links li a,
.nav-links li {
  color: rgb(0, 0, 0);
  text-decoration: none;
  cursor: pointer;
  font-size: 15px;
  transition: 0.3s;
}

.nav-links li:hover a,
.nav-links li:hover {
  color: #ff7b00;
}


.toggle-btn {
  display: none;
  font-size: 26px;
  cursor: pointer;
}


@media (max-width: 768px) {

  .toggle-btn {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 58px;
    right: 0;
    width: 100%;
    color: black;
    background: #fffbfb;
    flex-direction: column;
    text-align: center;
    gap: 18px;
    padding: 20px 0;
    display: none;
    animation: fadeIn 0.3s ease-in-out;
  }

  .nav-links.open {
    display: flex;
  }
}


@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}

.top-nav {
  width: 100%;
  background: #fff0f0;
  color: rgb(0, 0, 0);
  padding: 17px 20px;
  padding-top: 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;     
  top: 0;
  left: 0;             
  z-index: 1000;
  border-bottom: 2px solid black;
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
