.add-page, .product-page {
  width: 90%;
  max-width: 500px;
  margin: auto;
  padding: 20px;
  margin-top: 10%;
}

input {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 12px;
  background: #ff9800;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px,1fr));
  gap: 20px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  text-align: center;
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}


.product-page {
  padding: 30px;
  font-family: Arial;
}

.product-title {
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
  color: #ff7b00;
}


.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 20px;
}


.product-card {
  background: #fff;
  padding: 15px;
  border-radius: 12px;
  border: 1px solid #ddd;
  text-align: center;
  transition: 0.3s;
  box-shadow: 0 0 7px rgba(0,0,0,0.1);
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.product-img {
  width: 100%;
  height: 170px;
  object-fit: contain;
}


.btn-group {
  margin-top: 12px;
  display: flex;
  justify-content: center;
  gap: 10px;
}


.edit-btn {
  padding: 6px 14px;
  background: #0077ff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}
.edit-btn:hover {
  background: #005fcc;
}


.delete-btn {
  padding: 6px 14px;
  background: #ff2929;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}
.delete-btn:hover {
  background: #d61f1f;
}

.co-close {
  font-size: 25px;
  font-weight: 900;
  cursor: pointer;
  position: absolute;
  top: 18px;
  right: 28px;
  padding: 5px 12px;
  border-radius: 10px;
  background: #fff;
  color: #ff2929;
  box-shadow: 0 0 10px #0003;
  transition: 0.3s;
}

.co-close:hover {
  background: #ff2929;
  color: white;
}

.product-page {
  position: relative;
}
