.settings-page {
  margin-left: 260px; 
  padding: 20px;
  font-family: Arial;
  margin-top: 8%;
}

.set-title {
  font-size: 32px;
  font-weight: bold;
}

.set-sub {
  opacity: 0.8;
  margin-bottom: 25px;
}


.set-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}


.set-box {
  background: #ffecec;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  color: black;
}

.set-box h2 {
  margin-bottom: 15px;
  font-size: 22px;
}


.set-box label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
}

.set-box input,
.set-box textarea,
.set-box select {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  font-size: 15px;
}

.set-box input:focus,
.set-box textarea:focus,
.set-box select:focus {
  border-color: #ff7b00;
}


.toggle-row {
  display: flex;
  justify-content: space-between;
  margin: 12px 0;
  font-size: 16px;
}


.save-btn {
  background: #ff7b00;
  color: #fff;
  padding: 10px 18px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.save-btn:hover {
  background: #ff5200;
}


.co-close {
  font-size: 25px;
  font-weight: 900;
  cursor: pointer;
  position: absolute;
  top: 18px;
  right: 28px;
  padding: 5px 12px;
  border-radius: 10px;
  background: #fff;
  color: #ff2929;
  box-shadow: 0 0 10px #0003;
  transition: 0.3s;
}

.co-close:hover {
  background: #ff2929;
  color: white;
}

.settings-page {
  position: relative;
}
