body {
  background: #f4f4f4;
  font-family: Arial, sans-serif;
}


.update-page {
  max-width: 600px;
  background: white;
  margin: 25px auto;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin-top: 8%;
}

.update-title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #ff7b00;
}


.form-group {
  margin-bottom: 18px;
}

.form-group label {
  font-weight: bold;
  display: block;
  margin-bottom: 6px;
}


.input-wrap {
  display: flex;
  align-items: center;
  gap: 12px;
  background: #fff;
  border: 2px solid #ddd;
  padding: 12px;
  border-radius: 12px;
}

.input-wrap i {
  font-size: 18px;
  color: #ff7b00;
}

.input-wrap input,
.input-wrap select {
  width: 100%;
  border: none;
  outline: none;
  font-size: 15px;
  background: none;
}


textarea {
  width: 100%;
  height: 100px;
  border: 2px solid #ddd;
  border-radius: 12px;
  padding: 12px;
  outline: none;
  resize: none;
}


.update-btn {
  width: 100%;
  padding: 12px;
  background: #ff7b00;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s;
}

.update-btn:hover {
  background: #e56c00;
}


.popup {
  width: 300px;
  background: white;
  padding: 20px;
  border-radius: 12px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  text-align: center;
  box-shadow: 0 0 25px rgba(0,0,0,0.3);
}

.popup i {
  font-size: 45px;
  color: #00b906;
}

@media(max-width: 450px) {
  .update-page {
    padding: 18px;
  }

  .update-title {
    font-size: 22px;
  }
}


.co-close {
  font-size: 25px;
  font-weight: 900;
  cursor: pointer;
  position: absolute;
  top: 18px;
  right: 28px;
  padding: 5px 12px;
  border-radius: 10px;
  background: #fff;
  color: #ff2929;
  box-shadow: 0 0 10px #0003;
  transition: 0.3s;
}

.co-close:hover {
  background: #ff2929;
  color: white;
}

.update-page {
  position: relative;
}
