.orders-container {
  padding: 20px;
  margin-left: 260px; 
  font-family: Arial;
  background-color: #f5f5f5;
  color: #000000;
  margin-top: 8%;
}

.orders-title {
  font-size: 32px;
  font-weight: bold;
}

.orders-sub {
  font-size: 16px;
  margin-bottom: 25px;
  opacity: 0.8;
}



.order-table {
  width: 100%;
  border-collapse: collapse;
  background: #fff9f9;
  color: #111;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.order-table th {
  background: #fff6f6;
  color: #000000;
  padding: 14px;
  text-align: left;
}

.order-table td {
  padding: 14px;
  border-bottom: 1px solid #eee;
}

.order-table tr:hover {
  background: #f5f5f5;
}


.status {
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 13px;
  color: #fff;
}

.delivered { background: #28a745; }
.pending { background: #ff9800; }
.shipped { background: #007bff; }
.cancelled { background: #f44336; }

.view-btn {
  padding: 6px 12px;
  background: #ff7b00;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.view-btn:hover {
  background: #ff5200;
}


.co-close {
  font-size: 25px;
  font-weight: 900;
  cursor: pointer;
  position: absolute;
  top: 18px;
  right: 28px;
  padding: 5px 12px;
  border-radius: 10px;
  background: #fff;
  color: #ff2929;
  box-shadow: 0 0 10px #0003;
  transition: 0.3s;
}

.co-close:hover {
  background: #ff2929;
  color: white;
}

.orders-container {
  position: relative;
}
